@{
    ViewBag.Title = "StubHubSearchResult";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>StubHubSearchResult</h2>


@*<select multiple="multiple" class="image-picker show-labels show img-thumbnail show-html">
@foreach (var element in ViewBag.Results)
    {
    <option data-img-src="@element.ImageURL" value="@element.Id">@element.ImageURL</option>
    }
</select>*@


@foreach (var element in ViewBag.Results)
{    @element.Name 
    <img src="@element.ImageURL" width="200" height="200" />
    <input type="checkbox" name="@element.Name" value="@element.Id"> <br /><br />

}
