@model IEnumerable<Blackjack.Models.Member>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<br/>

<p>  
    @*<a href="/Members/Create?excID=@ViewBag.excID">Create New</a>*@
    @Html.ActionLink("Create New", "Create", new { excID = ViewBag.excID })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExcursionID)
        </th>
        <th></th>
    </tr>
@foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExcursionID)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.MemberID }) |
                @Html.ActionLink("Details", "Details", new { id = item.MemberID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.MemberID })
            </td>
        </tr>
    }


</table>

<div>
    @Html.ActionLink("Back to List", "../Excursions/Index", new { id = ViewBag.excID })
</div>
<br/>
<br/>
<br/>
<div>
    @Html.ActionLink("Submit your completed request", "../StubHub/StubHubSearchResult")
</div>
