@model IEnumerable<Blackjack.Models.Excursion>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Location)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Start_Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.End_Date)
        </th>
        <th>
            Group Leader
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Location)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Start_Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.End_Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AspNetUser.FirstName)
        </td>
        <td>
            @Html.ActionLink("Submit", "../StubHub/StubHubSearchResult", new { id = item.ExcursionID, startDate = item.Start_Date, endDate = item.End_Date, city = item.Location }) |
            @Html.ActionLink("Members", "../Members/Index", new { id = item.ExcursionID }) |
            @Html.ActionLink("Edit", "Edit", new { id=item.ExcursionID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ExcursionID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ExcursionID }) |
            @Html.ActionLink("Get Results!", "../Choices/CountVotes", new { excID = item.ExcursionID })
        </td>
    </tr>
}

</table>
