@model Blackjack.Models.Choice

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Choice</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Genre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Genre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.URL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.URL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.imageURL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.imageURL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsFinal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsFinal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChoiceName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChoiceName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Votes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Votes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Excursion.Location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Excursion.Location)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
