@model Blackjack.Models.Choice

@{
    ViewBag.Title = "Vote";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Vote</h2>
<h2 align="center">List of Choices Based on Your Request</h2>

<form action="~/Controllers/Choices/Edit" method="post">
    <fieldset>

        @foreach (var element in ViewBag.ChoiceList)
        {
            <div>
                <input type="checkbox" id="@element.Id" name="@element.Name" value="coding">
                <label for="@element.Name">@element.Name, @element.EventDateLocal</label>
                <a href="https://www.stubhub.com/@element.WebURI"><img src="@element.ImageURL" width="200" height="200" /></a>
            </div>
        }

        <button type="submit">Submit</button>
    </fieldset>
</form>

