@model Blackjack.Models.Choice

@{
    ViewBag.Title = "Vote";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Vote</h2>
<h2 align="center">List of Choices Based on Your Request</h2>


    <fieldset>

        @foreach (var element in ViewBag.ChoiceList)
        {
            <div>
                @*<input type="checkbox" id="@element.ChoiceID" name="@element.ChoiceName" value="checked">*@
                @*@Html.ActionLink("Vote", "/Choices/TallyVote", null, new { @class = "myLink" })*@
                <button onclick="TallyVote.call(this)" value="@element.ChoiceID" >Vote</button>
                <label for="@element.ChoiceName">@element.ChoiceName</label><br/>
                <a href="https://www.stubhub.com/@element.URL"><img src="@element.imageURL" width="200" height="200" /></a>
            </div>
        }

        <button type="submit">Submit</button>
    </fieldset>

<script type="text/javascript">
    function TallyVote()
    {
        var $this = $(this);
        var ChoiceID = $this.val();

        $.ajax({

            type: 'GET',
            url: '/Choices/TallyVote',
            data: { ChoiceID: ChoiceID },

            success: function () {
                alert("Vote Counted!");
                $this.hide();
            }

        });
    }
</script>
