@model Blackjack.Models.Choice

@{
    ViewBag.Title = "Vote";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Vote for your Selections!</h2>
<br/>
<div align="center">

    @foreach (var element in ViewBag.ChoiceList)
    {
        <div>
            <button onclick="TallyVote.call(this)" value="@element.ChoiceID">Vote</button>
            <label for="@element.ChoiceName">@element.ChoiceName</label><br />
            <a href="https://www.stubhub.com/@element.URL"><img src="@element.imageURL" width="200" height="200" /></a>
            <br/>
        </div>
    }
</div>
<br/>
@Html.ActionLink("Back to Excursions", "../Excursions/Index", new { id = ViewBag.excID })

<script type="text/javascript">
    function TallyVote()
    {
        var $this = $(this);
        var ChoiceID = $this.val();

        $.ajax({

            type: 'GET',
            url: '/Choices/TallyVote',
            data: { ChoiceID: ChoiceID },

            success: function () {
                alert("Vote Counted!");
                $this.hide();
            }

        });
    }
</script>
